language: node_js

install:
 - sudo apt-get -qq update
 - sudo apt-get install -y shunit2

before_script:
 - npm install ajv@4.11.7
 - npm install -g ajv-cli@1.1.2

script:
 - sh test/ci-test-weather.sh
